.parent {
    width: 70rem;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h3 {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid lightgrey;
    margin: 48px 0 5px 0;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}

.pikkukuvat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.frame {
    border: solid black 2px;
}

.minikuvat {
    width: 100px;
    padding: 8px;
}

.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.osat {
    padding-left: 5px;
    margin-left: 15px;
    margin-right: 10px;
}

h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}

h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    margin: 0;
}

.info {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8rem;
}