<section class="parent">

    <div class="toiminnot">
        <label>search:</label>
        <input type="text" [(ngModel)]="term">
        <br>
        <label>sort by:</label>
        <select (change)="selectChange($event)">
            <option value="age">Newest</option>
            <option value="name">Alphabetical</option>
        </select>
    </div>
    <section class="tuotteet">
        <div class="tuote" *ngFor="let phone of phones | filter:term | orderBy:order">
            <a routerLink="{{ phone.id }}">
                <figure>
                    <img src="/assets/{{phone.imageUrl}}" alt="">
                </figure>
            <div>
                <h3>{{phone.name}}</h3>
                <p>{{phone.snippet}}</p>
            </div>
            </a>
        </div>
    </section>
</section>